.rodape {
    background-color: var(--corRodape);
    color: var(--corRodapeTexto);
    padding: 1vh;
    margin: 0;
    
    border-top-left-radius: var(--bordaRadius);
    border-top-right-radius: var(--bordaRadius);

}