body {
    margin: 0;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;

    grid-template-areas:
        "cabecalho"
        "principal"
        "rodape";

    min-height: 100vh;
}

site-header { grid-area: cabecalho; display: block;}
site-footer { grid-area: rodape; display: block;}
main { grid-area: principal; }