@import url('root.css');

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--corFundo);
    padding: 20px 0;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
}

.menuCabecalho ul {
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
}

.menuCabecalho li {
    margin-right: 20px;
}

.inativo{ 
    text-decoration: none;
    color: var(--corTexto);
    font-family: var(--fonteTitulo);
    font-size: 18px;
}

.ativo{
    hover {
        text-decoration: underline;
        color: var(--corLinkHover);
    };
    color: var(--corLink);
    font-family: var(--fonteTitulo);
    font-size: 18px;
}

.rodape {
    background-color: var(--corRodape);
    color: var(--corRodapeTexto);
    text-align: center;
    padding: 10px 0;
    border-top-left-radius: var(--bordaRadius);
    border-top-right-radius: var(--bordaRadius);
}