:root {
    --corFundo: lightyellow;
    --fonteTexto: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    --corTexto: #222;
    --corLink: #ff9900;
    --corLinkHover: #cc6600;
    --corRodape: #222;
    --corRodapeTexto: lightyellow;
    --bordaRadius: 15px;
    --tamanhoTitulo: 24px;
    
}