#cadastro , button {
    display: flex;
    gap: 5px;
    flex-direction: column;
    font-family: var(--fonteTexto);
    color: var(--corTexto);
    padding: 0 10px;
}

input {
    width: 100%;
}

#escondido{
    opacity: 0;
    pointer-events: none;
    user-select: none;  
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    top: 0vh;
}

#cdst {
    margin: auto;
    width: 50%;
    height: 21px;
    background-color: var(--corFundo);
    border: 1px solid var(--corTexto);
    border-radius: 5px;
    font-weight: 450;
    font-family: var(--fonteTexto);
}

#cdst:hover{
    font-weight: bold;
    cursor: pointer;
}